OPENROUTER_API_KEY = ""
YANDEX_API_KEY = ""
YANDEX_FOLDER_ID = ""
GIGACHAT_CREDENTIALS = ""
GIGACHAT_API_PERS = ""
AWS_ACCESS_KEY_ID = ""
AWS_SECRET_ACCESS_KEY = ""
AWS_ENDPOINT_URL = ""
AWS_BUCKET_NAME = ""